#generic excludes
__pycache__
*.test
*.egg-info
*.vscode

#Venv directories and files
Lib/
Scripts/
Include/
venv.cfg
pyvenv.cfg

#Venv directories on linux
lib/
include/
bin/

#Build directories and files
build/
dist/
main.spec

#pytest 
.pytest_cache